/* GENERAL */
* {
  margin: 0;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

.wrap {
display: flex;
min-height: 100%;
flex-direction: column;
}

/* HEADER */
header {
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
}

.title {
	font-family: 'Patua One', sans-serif;
	padding: 0;
	margin: 0 0 0 20px;
	display: inline;
  float: left;
}

.navigation {
  margin-left: auto;
  margin-right: 20px;
}

.navigation ul {
  list-style: none;
}

.navigation ul a {
  color: #333;
  line-height: 32px;
  padding: 10px 15px;
}

.navigation ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0
}

.navigation ul li:hover {
  background: #f6f6f6;
}

.navigation ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#fff;
  padding:0
}

.navigation ul ul li {
  width:125px
}

.navigation ul li:hover > ul {
  display:block
}

/* SECTION */
.main {
  flex: 1;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), url(../img/background.jpg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hometext {
  color: white;
  font-family: 'Lato', sans-serif;
  letter-spacing: 5px;
  border-bottom: solid thin;
}

.about {
  width: 800px;
}

.abouttext {
  color: white;
  font-family: 'Lato', sans-serif;
  letter-spacing: 10px;
  margin-bottom: 10px;
}

.about  p {
  color: white;
  font-family: 'Lato', sans-serif;
}

/* FOOTER */
.site-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.copyright {
  display: inline-block;
  font-size: 0.75em;
}