* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; 
}
.wrap:after {
  content: "";
  display: block;
}
.site-footer, .wrap:after {
  height: 50px; 
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.copyright {
	text-align: center;
}

.title {
	font-family: 'Patua One', sans-serif;
	padding: 0;
	margin: 0;
	display: inline-block;
	vertical-align: middle;

}

li {
    display: inline;
    list-style: none;
    float: right;
    display:inline-block;
    vertical-align:middle;
}