{% set date = date('Y') %}  <!-- PHP Date for copyright -->

<!DOCTYPE HTML>
<html>
	<head>
	{% block head %}
		<title>Downhill Bikes</title>
		<meta name="description" content="Check the best downhill bikes around!">
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /> 

	    <link href="https://fonts.googleapis.com/css?family=Patua+One|Lato" rel="stylesheet">
	    <link rel="stylesheet" href="/assets/css/normalize.css" />
	    <link rel="stylesheet" href="/assets/css/style.css" />
	</head>
	{% endblock head %}
	<body>
		<div class="wrap">
	    	<header class="group">
	        	<h1 class="title"><a href="/">Downhill Bikes</a></h1>
	        	<nav class="navigation">
					<ul>
					  <li><a href="#">Bikes</a>
					    <ul>
					      <li><a href="#">Commencal</a></li>
					      <li><a href="#">Trek</a></li>
					      <li><a href="#">YT Industries</a></li>
					    </ul>
					  </li>
					  <li><a href="/about">About</a></li>
					  <li><a href="#">Contact</a></li>
					</ul>
					</nav>
	    	</header>
{% block content %}

{% endblock content %}	
			<footer class="site-footer">
			{% block footer %}
				<p class="copyright">&copy downhill-bikes.com - {{ "now"|date("Y") }}</p>
			{% endblock footer %}	     		
			</footer>
		</div>
	</body>
</html>